<% include header.ejs%>

<div>
  <h2 class="center  color-blue">VWO Node SDK Example</h2>
  <div class="main-container">
    <h3>Hey there, what would you like to experiment?</h3>

    <div>
      <ul c;ass="margin--top">
        <li><a href="/settings">Settings</a></li>
        <li><a href="/ab">A/B Test</a></li>
        <li><a href="/feature-rollout">Feature Rollout</a></li>
        <li><a href="/feature-test">Feature Test</a></li>
        <li><a href="/push">Push API</a></li>
        <li><a href="/js-sdk">Js SDK</a></li>
      </ul>
    </div>
  </div>
</div>

<% include footer.ejs%>
